@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

body {
    color: #999;
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    border-color: #eee;
    min-height: 41px;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #5cd3b4;
}
.form-control, .btn {
    border-radius: 3px;
}
.signup-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h2 {
    color: #333;
    margin: 0 0 30px 0;
    display: inline-block;
    padding: 0 30px 10px 0;
    border-bottom: 3px solid #5cd3b4;
}
.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group row {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.signup-form input[type="checkbox"] {
    position: relative;
    top: 1px;
}
.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #5cd3b4;
    border: none;
    margin-top: 5px;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #41cba9;
    outline: none !important;
}
.signup-form a {
    color: #5cd3b4;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #5cd3b4;
    text-decoration: none;
}
.signup-form form a:hover {
    text-decoration: underline;
}

.navbar {
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 0;
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    float: left;
    margin: -8px 10px -8px 0;
}
.navbar .navbar-brand {
    padding-left: 0;
    font-size: 20px;
    padding-right: 50px;
}
.navbar .navbar-brand b {
    color: #33cabb;
}
.navbar .form-inline {
    display: inline-block;
}
.navbar a {
    color: #888;
    font-size: 15px;
}
.search-box {
    position: relative;
}
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}
.search-box .input-group-text {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}
.navbar .dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar a, .navbar a:active {
    color: #888;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .action-form a {
    color: #33cabb;
    padding: 0 !important;
    font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
    color: #fff;
    background: #33cabb !important;
    border: none;
}
.navbar .btn-primary:hover, .navbar .btn-primary:focus {
    color: #fff;
    background: #31bfb1 !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}
.navbar .social-btn .facebook-btn {
    background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
    background: #4676bd;
}
.navbar .social-btn .twitter-btn {
    background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.or-separator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-separator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}
.form-check-label input {
    position: relative;
    top: 1px;
}

.avatar-left {
    margin: 0 3em 0 auto;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 768px){
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}

table,
thead,
tr,
tbody,
th,
td {
    text-align: center;
}

.table td {
    text-align: center;
}

.select-width {
    width: 150px;
}